@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error 1occurred while processing your request.</h2>
<h2 class="text-danger2">An error 2occurred while processing your request.</h2>
<h2 class="text-danger3">An error 3occurred while processing your request.</h2>
<h2 class="text-danger4">An error 4occurred while processing your request.</h2>
<h2 class="text-danger5">An error 5occurred while processing your request.</h2>

